<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login Demo</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="card" id="loginCard">
        <h2>¡Felicidades!</h2>
        <p>Conseguiste entrar a un server via FTP</p>
        <p>También aprendiste (por arriba) cómo hacer ataques de fuerza bruta sobre un formulario HTTP</p>
        <p>Ahora, ejecuta los siguientes comandos en tu consola:</p>
        <p>ftp</p>
        <p>open *url del server ftp*</p>
        <p>Cuando te pida usuario y contraseña, ingrésalas</p>
        <p>Busca la carpeta COM-83330 y deja un mensaje con el comando:</p>
        <p>echo "mensaje que quieras poner" > nombre-apellido.txt</p>
        <p>Gracias por participar de la actividad :)</p>
        </form>
    </div>
</body>
</html>